{% extends 'base.html.twig' %}

{% block body %}

<div class="container center">
    <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Nouveau produits</h1>
    {{ form_start(form) }}
    <div class='mb-3'>{{ form_row(form.name) }}</div>
        {{ form_rest(form) }}
    <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
</div>

{% endblock %}