{% extends 'base.log.html.twig' %}

{% block body %}

<div class="container center">
    <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Nouvelle utilisateur</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(form) }}
</div>

{% endblock %}